* {
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

body {
    -moz-user-select: none;

}

div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
}

#container {
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    border:1px solid #c1c1c1;
    background-color: #f0efed;
    overflow: hidden;
    visibility: hidden;
}

#guide {
    /* visibility: hidden; */
}

div {
    position: absolute;
}

a {
    text-decoration: none;
}

i {
    font-style: italic;
}

b {
    font-weight: 700;
}

u {
    text-decoration: underline;
}

.wrapper {
    width: 300px;
    height: 250px;
    position: absolute;
    top: -1px;
    left: -1px;
}

.adSize {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}


.hotspot {
    position:absolute;
    width:300px;
    height:250px;
    top: 0px;
    left: 0px;
    cursor:pointer;
}


.notoReg {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.notoBold {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.openBold {
    font-family: 'Open Sans', sans-serif ;
    font-weight: 700;
}

.hidden {
    opacity: 0;
}

.fadeDown {
    opacity: 0;
    transform: translate(0px, -10px);
}

.fadeLeft {
    opacity: 0;
    transform: translate(-10px, 0px);
}

.transition {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
}


/* --------------------------------- FRAMES ---------------------------------------- */

.reg_sup {
    position: relative;
    line-height: 0px;
    font-size: 6px;
    top: 1px;
}

#circle {
    opacity: 0.65;
    position:absolute;
    top: 10px;
    left: -50px;
    width: 170px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
}

#headerCopy {
    font-size: 11px;
    color: #ffffff;
    position: absolute;
    top: 2px;
    left: 120px;
    line-height: 13px;
    letter-spacing: -0.38px;
}

#txtBot1 {
    font-size: 9px;
    color: #ffffff;
    position: absolute;
    top: 106px;
    left: 7px;
    line-height: 11px;
    /* text-shadow: 0px 2px 7.36px rgba(0, 0, 0, 0.8); */
    text-shadow: 0px 0px 4px #000000, 0px 0px 4px #000000, 0px 0px 4px #000000, 0px 0px 4px #000000, 0px 0px 4px #000000;
}

#txtBot2 {
    font-size: 10px;
    color: #444444;
    position: absolute;
    top: 143px;
    left: 7px;
}

#f1copy {
    color: #da0812;
    font-size: 16px;
    position: absolute;
    top: 74px;
    left: 120px;
    line-height: 18px;
}

#f2copy {
    color: #da0812;
    font-size: 16px;
    position: absolute;
    top: 76px;
    left: 121px;
    line-height: 18px;
}

#f3copy {
    color: #da0812;
    font-size: 14px;
    position: absolute;
    top: 64px;
    left: 87px;
    line-height: 17px;
}

#f3copyfootnote {
    color: #006072;
    font-size: 11px;
    position: absolute;
    top: 97px;
    left: 87px;
    line-height: 13px;
}

#f4copy {
    color: #da0812;
    font-size: 14px;
    position: absolute;
    top: 71px;
    left: 101px;
    line-height: 17px;
    letter-spacing: -0.1px;
}

#f4copyfootnote {
    color: #444444;
    font-size: 10px;
    position: absolute;
    top: 105px;
    left: 101px;
}

#f5copy {
    color: #da0812;
    font-size: 15px;
    position: absolute;
    top: 53px;
    left: 127px;
    line-height: 17px;
    letter-spacing: -0.1px;
}

#f5copytxtbot {
    font-size: 9px;
    color: #ffffff;
    position: absolute;
    top: 104px;
    left: 6px;
    line-height: 11px;
    /* text-shadow: 1px 0 3px #000000;  */
    text-shadow: 0px 0px 4px #000000, 0px 0px 4px #000000, 0px 0px 4px #000000, 0px 0px 4px #000000, 0px 0px 4px #000000;
}


#cta {
    width: 109px;
    height: 26px;
    top: 110px;
    left: 127px;
    background-size: contain;
    background-repeat: no-repeat;
}

#ctaText {
    font-size: 12px;
    color: #ffffff;
    margin: 3px 0px 0px 11px;
    position: absolute;
}


/* --------------------------------- ISI ---------------------------------------- */

.isiHeader {
    font-weight: 700;
    color: #006072;
    font-size: 12px;
    line-height: 13px;
    padding-top: 6px;
}

.isiTextBold {
    font-weight: 700;
    color: #444444;
    font-size: 12px;
    line-height: 14px;
    padding-top: 1px;
}

.isiText {
    font-weight: 400;
    color: #444444;
    font-size: 12px;
    line-height: 14px;
    padding-top: 3px;
}

.supISI{
    position: relative;
    font-size: 7px;
    top: 1px;
    line-height: 0px;
}

.bullet_main {
    color: #444444;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-top: 6px;
    padding-left: 8px;
    letter-spacing: 0px;
}

.bullet_black {
    position: absolute;
    left: 0px;
    top: 8px;
    font-weight: 700;
    line-height: 10px;
}

div#novaLogo {
    width: 54px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    bottom: 40px;
    left: 222px;
}

#scrollBg {
    width: 8px;
    height: 48px;
    border: 1px solid #c1c1c1;
    background-color: #ffffff;

    -webkit-transform: translate(285px, 21px);
    -moz-transform: translate(285px, 21px);
    -ms-transform: translate(285px, 21px);
    -o-transform: translate(285px, 21px);
    transform: translate(285px, 21px);
}

#scrollBar {
    width: 6px;
    background-color: #545454;
    cursor: pointer;
    border: 1px solid #ffffff;
    opacity: .4;
    
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#isiBtnP{
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    right: 3px;
    top: 4px;
    cursor: pointer;
}
#isiBtnM{
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    right: 3px;
    top: 21px;
    cursor: pointer;
}

#IRI_mainContainer {
    width: 300px;
    height: 250px;
    background-color: #ffffff;
    transform: translate(0px,156px);
    visibility:hidden;
}

#isiBg {
    width: 300px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -1px;
    left: -1px;
    display: none;
}

#isiContainer {
    overflow:hidden;
    width: 300px;
    height: 191px;
    cursor: default;
    background-color: #ffffff;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#isiContent {
    width: 281px;
    padding-left: 5px;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#isiContent > * {
    position: static;
}

#isiHeader {
    border-top: 1px solid #c1c1c1;
    width: 300px;
    height: 18px;
    top: 0px;
    background-color: #ffffff;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#ihText {
    top: 3px;
    left: 7px;
    color: #006072;
    font-size: 12px;
    line-height: 14px;
    user-select:none;
    cursor:default;
}

#isiHeading1 {
    padding-top: 2px;
}


#isiHeaderBottom {
    background-color: #eeeeee;
    width: 300px;
    height: 17px;
    -webkit-transform: translate(0px, 75px);
    -moz-transform: translate(0px, 75px);
    -ms-transform: translate(0px, 75px);
    -o-transform: translate(0px, 75px);
    transform: translate(0px, 75px);
    cursor: pointer;
}

#ihTextBottom {
    font-size: 12px;
    top: 0px;
    margin: -2px 0px 0px 6px !important;
    color: #134b8e;
}

/* CUSTOM CSS */

.black {
    color: #000000;
}

#f1copy_sup, #f2copy_sup, #f5copy_sup {
    position: relative;
    line-height: 0px;
    font-size: 9px;
    top: 1px;
}

#f3copy_sup {
    position: relative;
    line-height: 0px;
    font-size: 8px;
    top: 1px;
}

.t-2 {
    top: 2px;
}

.t-4 {
    top: 4px;
}

.t-6 {
    top: 6px;
}

.t-7 {
    top: 7px;
}

.link {
    color:#134b8e;
    text-decoration: underline;
}

.c-pointer {
    cursor: pointer;
}

.c-default {
    cursor: default;
}

/* CUSTOM CSS - letter spacing */
.ls-n018 {
    letter-spacing: -0.18px;
}

.ls-n015 {
    letter-spacing: -0.15px;
}

/* CUSTOM CSS - line height */
.lh-14 {
    line-height: 14px;
}

.lh-14p5 {
    line-height: 14.5px;
}

/* CUSTOM CSS - padding top */
.pt-1 {
    padding-top: 1px;
}
.pt-2 {
    padding-top: 2px;
}
.pt-3 {
    padding-top: 3px;
}
.pt-4 {
    padding-top: 4px;
}
.pt-5 {
    padding-top: 5px;
}
.pt-6 {
    padding-top: 6px;
}
.pt-7 {
    padding-top: 7px;
}
.pt-8 {
    padding-top: 8px;
}
.pt-9 {
    padding-top: 9px;
}
.pt-10 {
    padding-top: 10px;
}

/* Property Work's For FireFox Only */
@-moz-document url-prefix() {
    .reg_sup {
        top: 0px;
    }

    #f1copy_sup, #f2copy_sup, #f3copy_sup {
        top: 0px;
    }
}